html{
    background-color:plum;
    background: -webkit-linear-gradient(plum, pink); 
    background: -o-linear-gradient(plum, pink); 
    background: -moz-linear-gradient(plum, pink); 
    background: linear-gradient(plum, pink);
    color:black;
}

body{
    display: grid;
    float: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 220px;
    width:100px;
    margin:100px 10px;
    padding:200px;
    font-size:italic;
    background-color:plum;
    background: -webkit-linear-gradient(plum, pink); 
    background: -o-linear-gradient(plum, pink); 
    background: -moz-linear-gradient(plum, pink); 
    background: linear-gradient(plum, pink);
    color:black;
}